// Define variables for your color scheme

// For example:
$red: #E63946;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #FFFFFF;

$deep-blue: #1D3557;
$light-blue: #457B9D;
$clear-blue: #9FD1D3;
