.alerts-container {
  text-align: center;
  h1 {
    padding-bottom: 20px;
  }
}

.alert-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  flex-grow: 1;
  margin: 10px;
  text-align: center;
  p {
    color: $deep-blue;
  }
}

.alert-card {
  border: 1px solid $light-blue;
  border-radius: 2px;
  padding: 10px 20px 20px 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  a:hover {
    color: white;
  }
}

.first-alert {
  padding-top: 30px;
}

.alert-card-details {
  text-align: center;
}

.card-title {
  color: $deep-blue;
  font-size: 28px;
}

.alert-card-delete-button {
  background: $red;
  padding: 5px 15px;
  border-radius: 1px;
  color: $light-gray;
  font-size: 1rem;
}

.alert-card-edit-button {
  background: $light-blue;
  padding: 5px 15px;
  border-radius: 1px;
  color: $light-gray;
  font-size: 1rem;
}

.alert-card-edit-button:hover,
.alert-card-delete-button:hover {
  opacity: 0.8;
  transition: 0.2s;
}


.new-alert-icon {
  font-size: 2rem;
  color: $light-blue;
}

.new-alert-card-title {
  font-size: 2rem;
  font-weight: 200;
  color: $light-blue;
  margin-bottom: 0px;
}