.back-button {
  border-radius: 5px;
  border: 1px solid $clear-blue;
  padding: 5px 15px;
  font-size: 1.2rem;
  font-weight: 200;
  color: $clear-blue;
}
.back-button:hover {
  color: $clear-blue;
}