.navbar-lewagon {
  justify-content: end;
  background: white;
  align-items: center;
  padding: 1.5rem 1rem;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  padding: 0;
}